.badge{
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  margin: 10px;
  font-weight: 700;
  line-height: 1;
  color:#fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
}
.box-shadow{
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.custom-30{
  width: 30%;
}
.font{
  font-family:'Ubuntu','sans-serif' !important;
}
.login-shadow{
  box-shadow: 20px 20px 20px 20px rgb(0 0 0 / 40%), 20px 10px 20px 10px rgb(0 0 0 / 30%);
  
}
.width40{
  width:40%;
}
.text18{
  font-size: 18px;
}
.smallbadge{
  display: inline-block;
  min-width: 10px;
  /* padding: 1px 6px; */
  /* padding-top: 6px; */
  text-align: center;
  height: 18px;
  padding: 2px 4px;
  font-size: 14px;
  margin-top: 4px;
  font-weight: 700;
  line-height: 1;
  color:#fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
}
